.canvas-container {
    height: -webkit-fill-available;
    overflow-x: hidden;
    overflow-y: hidden;

    &.overflow-y, .mobile {
        // overflow-x: hidden;
        overflow-y: scroll;
    }

    &.overflow-x, .mobile {
        overflow-x: scroll;
    }
}
