@import './constants.scss';

html {
    overflow: hidden;
}

html, body, #root, .app {
    height: 100%;
}

.app {
    background-color: #fff;
    position: relative;
    // overflow-y: hidden;

    &.mobile {
        padding-bottom: 2em;
        box-sizing: border-box;
    }
}

.app-content {
    position: relative;
    margin-top: $nav-bar-height;
    margin-bottom: $footer-height;
    height: -webkit-fill-available;

    overflow: auto !important;

    // padding: 1em;
}
