//NAVBAR
$nav-bar-height: 50px;
$horizontal-border: 14px;
$logo-height: $nav-bar-height * 0.9;
    //COLORS
    $nav-bkgd-color1: #546de5;
    $nav-bkgd-color2: #778beb;
    $nav-text-color: #fff;
    $nav-drop-bkgd-color: #546de5;
    $nav-side-bkgd-color: #778beb;
    $nav-active-bkgd-color: #546de588;
    $nav-hovor-bkgd-color: #fff5;
    $nav-hovor-text-color: #fff;

//FOOTER
$footer-height: 0px;
    //COLORS
    $footer-bkgd-color1: #546de5;
    $footer-bkgd-color2: #778beb;
