.about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 0 1.25em;

    p {
        margin-top: 0;
    }

    h1,h2 {
        margin-bottom: 0;
    }
}
