.big-o-type {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &>.big-o-type-title {
        margin: 0;
        padding: 1rem 2.5rem 0;
        font-size: 1.8em;

        width: max-content;
        box-sizing: border-box;
        max-width: 100%;
    }

    &>.big-o-display-list-container {
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-between;

        width: fit-content;
        max-width: 100%;
        //padding: 0.525em;

        &>.big-o-display-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            padding: 1em;
            box-sizing: border-box;
            max-width: 100%;

            &.one-table {
                width: 100%;
            }
            &:not(.one-table) {
                // @media screen and (min-width: 120em) {
                //     width: 25%;
                // }
                // @media screen and (max-width: 120em) and (min-width: 90em) {
                //     width: 33.333%;
                // }
                // @media screen and (max-width: 90em) and (min-width: 60em) {
                //     width: 50%;
                // }
                // @media screen and (max-width: 60em) {
                //     width: 100%;
                // }
            }

            &>.big-o-display-title {
                font-size: 1.5em;
                font-weight: bold;
                margin: 0.5em 0;
            }
        }
    }
}
