.visualizer-type {
    &>.visualizer-type-title {
        // margin: 0;
        // border: solid #fff0;
        margin: 1rem 2.5rem 0;
        font-size: 1.8em;

        position: sticky;
        left: 2.5rem;
        // right: 2.5rem;
        width: fit-content;
        // box-sizing: border-box;
        max-width: 80%;

        &.clickable-type-title {
            cursor: pointer;

            &:hover {
                color: gray;
                text-decoration: underline;
            }
        }
    }

    &>.visualizer-title-container {
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-around;

        padding: 0.8em;
        padding-top: 0;
    }
}
