.visualizer-type {
    &>.visualizer-type-title {
        margin: 0;
        padding: 1rem 2.5rem 0;
        font-size: 1.8em;

        width: max-content;
        box-sizing: border-box;
        max-width: 100%;
    }

    &>.visualizer-title-container {
        display: flex;
        flex-flow: row wrap;
        // justify-content: space-around;

        padding: 0.8em;
        padding-top: 0;
    }
}
