@import '../../app/constants.scss';

.control-bar {
    // overflow: hidden;
    background-clip: border-box;
    background-color: #f7f7f7;
}


.control-container{
    margin: 0;
    padding: 1em;
    padding-left: 0.3em;
    padding-top: 0.5em;

    box-sizing: border-box;
    width: 100%;

    background-clip: border-box;
    background-color: #f7f7f7;

    overflow-x: hidden;
}

.control-container.overflow {
    overflow-x: scroll;
}

.control-container#main-control {
    // text-align: center;
    // width: fit-content;
}
.control-container#default-control {
    position: fixed;
    bottom: $footer-height;
}

.control-wrapper {
    min-width: fit-content;
    width: -webkit-fill-available;
}

.controls{
    display: flex;
    flex-flow: row nowrap;
    width: -webkit-fill-available;
    // overflow-x: scroll;
    // &:after {
    //     content: " ";
    //     display: block;
    //     border-right: 2px solid #0003;
    // }
    // &>:not(:last-child):after {
    //     content: " ";
    //     height: 100%;
    //     display: block;
    //     padding-left: 4px;
    //     border-right: 2px solid #0005;
    // }
    &>.control-group {

        // margin-top: 6px;
        // margin-left: 10px;

        >.control-group {
            // margin-top: 10px;
        }
    }

}

.controls.default {
    align-items: center;
}

.controls>.control-group:last-child {
    padding-right: 1em;
}

.control-group {
    // display: flex;
    // flex-flow: row nowrap;
    // overflow: hidden;
    // width: -webkit-fill-available;
    // flex-grow: 1;
}

.control-group>.control-group {
    display: flex;
    flex-flow: column wrap;
    // justify-content: center;
    // &:not(:last-child):after {
    //     content: " ";
    //     height: 100%;
    //     display: block;
    //     padding-left: 4px;
    //     border-right: 2px solid #0005;
    // }
    // :not(>.control-group) {
    //     @for $num_children from 1 through 5 {
    //         >:first-child:nth-last-child(#{$num_children}),
    //         >:first-child:nth-last-child(#{$num_children}) ~ *, {
    //             height: 100% / $num_children;
    //         }
    //     }
    // }
}

.control-group>.control-group>.control-group {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    // justify-content: space-between;
    @for $num_children from 1 through 5 {
        >:first-child:nth-last-child(#{$num_children}),
        >:first-child:nth-last-child(#{$num_children}) ~ *, {
            // width: 100% / $num_children;
            width: -webkit-fill-available;
        }
    }
}

.control-group>.visual-control {
    margin: 0;
    margin-left: 0.7em;
    margin-top: 0.7em;
}

.expanding-group {
    width: -webkit-fill-available;
    max-width: 30em;
    @for $width from 1 through 10 {
        &.w#{$width*5} {
            max-width: #{$width*5}em;
        }
    }
    & input[type="text"] {
        width: -webkit-fill-available;
    }
}



.control-label {
    margin: 0;
    margin-bottom: 6px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;

    position: sticky;
    left: 0px;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    &:not(.radio):not(.checkbox) {
        height: 2em;
    }

    margin: 0;
    padding: 0 0.5em;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: #aaa;
    background-color: #fffd;
    transition: filter .15s ease-in-out, background-color .15s ease-in-out;

    &:hover:not([disabled]) {
        background-color: #fffe;
        &:not(.radio):not(.checkbox) {
            filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
        }
        &:focus {
            filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.35));
        }
    }

    &:focus {
        outline: none;
        border-color: #546de5;
        background-color: #fff;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    }
}

@mixin track {
  cursor: default;
  height: 3px;
  transition: all .2s ease;
}

$thumb-size: 15px;

@mixin thumb {
  background: #546de5;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: default;
  height: $thumb-size;
  width: $thumb-size;
}

input[type='range'] {
    background: transparent;
    border: none;
    box-shadow: unset;

    &:hover {
        background-color: transparent;
        box-shadow: unset;
        &::-webkit-slider-runnable-track {
            background: darken(#f7f7f7,15%);
        }
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &:focus {
        &::-webkit-slider-runnable-track {
            background: darken(#f7f7f7,20%);
        }
    }

    &::-webkit-slider-runnable-track {
        @include track;
        background: darken(#f7f7f7,10%);
        // border: $track-border-width solid $track-border-color;
        // border-radius: $track-radius;
    }

    &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: ((3px) / 2 - $thumb-size / 2);
    }

    &::-moz-range-track {
        // @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
        @include track;
        background: darken(#f7f7f7,10%);
        // border: $track-border-width solid $track-border-color;
        // border-radius: $track-radius;
        height: 3px / 2;
    }

    &::-moz-range-thumb {
        @include thumb;
    }
}


.radio-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &>.radio-button-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        // height: 1.2em;
        transition: filter .15s ease-in-out;
        cursor: pointer;
        & * {
            cursor: inherit;
        }

        &:not([disabled]) {
            &:hover {
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
                &:focus-within {
                    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
                }
            }

            &:focus-within {
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
            }
        }

        &:not(:first-child) {
            margin-top: 5px;
        }

        &>.radio {
            height: 1.2em;
            width: 1.2em;
            border-radius: 0.6em;
            padding: 0;
            &:checked {
                background-image: radial-gradient(#7f91eb 0%, #7f91eb 35%, #fff 45%, #fff 100%);
            }
        }

        &>.label {
            margin-left: .3em;
        }
    }
}

.checkbox-container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    &>.check-button-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        // height: 1.2em;
        transition: filter .15s ease-in-out;
        cursor: pointer;
        & * {
            cursor: inherit;
        }

        &:hover {
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
            &:focus-within {
                filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
            }
        }

        &:focus-within {
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
        }

        &:not(:first-child) {
            margin-top: 5px;
        }

        &>.checkbox {
            height: 1.2em;
            width: 1.2em;
            border-radius: 0.3em;
            padding: 0;
            padding-left: 0.2em;

            &:checked {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                &::after {
                    content: "";
                    display: inline-block;
                    height: 0.3em;
                    width: 0.6em;
                    border-left: 0.2em solid;
                    border-bottom: 0.2em solid;
                    border-color: #7f91eb;
                    transform: rotate(-45deg) translateY(-0.1em);
                    // filter: drop-shadow(0px 0px 0px #7f91eb);
                }
                // background-image: radial-gradient(#7f91eb 0%, #7f91eb 35%, #fff 45%, #fff 100%);
            }
        }

        &>.label {
            margin-left: .3em;
        }
    }
}

.label {
    margin-top: 0;
    font-size: .9em;
    width: max-content;
}

#speedSliderGroup {
    align-items: center;
}
